* text=auto

*.cs text diff=csharp
*.mdc text diff=markdown
*.md text diff=markdown
*.json text
*.xml text
*.yml text
*.yaml text
*.config text

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary 